language: python

python:
  - "2.6"
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"

install:
  - pip install -U pip setuptools
  - pip install tox-travis

script:
  - tox

notifications:
  email:
    - stix-commits-list@groups.mitre.org
